.prompt {
  width: 96%;
  font-size: 3em;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
  border-style: none;
  border: 1px solid gray;
  width:100%;
}

.editorContainer {
  /* position: relative; */
  width: 90vw;
  margin-left: 5vw;
  border: 1px solid gray;
  border-radius: 5px;
}

.editor {
  position: relative;
  bottom: 0;
  /* margin-left: 5vw; */
  width: 90vw;
  /* margin-top : 5vh; */
  /* border-bottom: 2px solid gray; */
  /* padding: 10px; */
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

#editorEnter {
  vertical-align: baseline;
  font-size: 2em;
  color: grey;
  cursor: pointer;
  display: inline-block;
  padding: 12px;
}

#editorEnter:hover {
  color: #1976d2;
}

#editorEnter:active {
  color: #164b80;
}