body {
  height: 100%;
  /* background-color: darkorange; */
}

.app * {
  /* don't allow the children of the scrollable element to be selected as an anchor node */
  overflow-anchor: none;
  /* width: 100%; */
}

#anchor {
  /* allow the final child to be selected as an anchor node */
  overflow-anchor: auto;

  /* anchor nodes are required to have non-zero area */
  height: 1px;
}

i {
  font-style: normal;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  margin-bottom: 20px;
}

.evaluatorList > li {
  margin-bottom: 40px;
}

.evaluatorSpace, .macroSpace {
  padding-top: 10px;
  width: 93vw;
  margin-left: 6vw;
  margin-bottom: 5em;
  height: 84vh;
  overflow-y: scroll
}

.evaluationHeader, .macroHeader, .noteHeader {
  /* height: 1em; */
  background-color: #0091ea;
  color: white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 0.25em;
  padding-bottom: 0.25em;

  font-size: 1.5em;

  /* font-size: 1.5em; */
}

.evaluationHeader i {
  color: white;
}

.headerTitle {
  margin-left: 10px;
}

.macroSpace .box {
  font-size: 1.1em;
}

.editorSettings {
  /* border: 2px solid red; */
  width: 93vw;
  margin-left: 6vw;
  padding-top: 0px;
  padding-bottom: 20px;
  /* border: 0.1em solid grey; */
  /* border-radius: 0.25rem; */
}

.strategies {
  margin-top: 0px;
  /* border: 0.1em solid gray; */
  /* border-left: 5px solid cadetblue; */
  padding: 3px;
  /* border-radius: 0.5em; */
}

.stratsLabel {
  margin-right: 10px;
} 